.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 2em;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}